
# ==============================================================================
# DATENBANK-UMGEBUNGSVARIABLEN
# Kopieren Sie diese Datei lokal als "application.properties" oder setzen Sie die Variablen in Ihrer IDE.
# ==============================================================================

# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=fahrzeugdb
# DB_USER=XOXOXyourName
# DB_PASSWORD=XOXOXchooseSafePasswords


spring.application.name=RecruiterFahrzeug

# PostgreSQL-Datenbankverbindung
spring.datasource.url=jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:fahrzeug}
spring.datasource.username=${DB_USER:XOXOXyourName}
spring.datasource.password=${DB_PASSWORD:XOXOXchooseSafePasswords}
spring.datasource.driver-class-name=org.postgresql.Driver

# Spring JPA Konfiguration
spring.jpa.hibernate.ddl-auto=update

server.error.whitelabel.enabled=true