<div th:fragment="footerFragment">
      <footer class="footer">
        <div class="footer-container container">
          <div class="row">
            <div class="col-md-4">
              <h5>Kontakt</h5>
              <p>XOXOXO GmbH<br>BeispielPlatz XOX<br>XOXOXO Beispiel</p>
              <p><a href="mailto:XOXOXO@XOXOXO.XO">XOXOXO@XOXOXO.XO</a></p>
              <p><a href="tel:+49123456789">+49 (0)123 45678-9</a></p>
            </div>
            <div class="col-md-4">
              <h5>Nützliche Links</h5>
              <ul class="list-unstyled">
                <li><a href="/">Startseite</a></li>
                <li><a href="/fahrzeuge">Fahrzeuge</a></li>
                <li><a href="/termine">Termine</a></li>
                <li><a href="/reservierungen">Reservierungen</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Rechtliches</h5>
              <ul class="list-unstyled">
                <p>Registergericht: Amtsgericht XOXOXO</p>
                <p>Registernummer:  HRB XOXOXO</p>
                <p>USt-IdNr.:       XOXOXO</p>
              </ul>
            </div>
          </div>

          <div class="footer-bottom text-center">
            <p>© 2025 XOXOXO - Praktikant * Besucher Nr. 472</p>
          </div>
        </div>
      </footer>





</div>
